{% extends 'default.html' %}

{% block content %}
{% load static %}
<link rel = "stylesheet" href="{% static 'css/model_detail.css' %}">
    <div>
        <div class="details">
            <div class="back-cont">
                <a href="/maintenances" class="btn-back">К списку ТО</a>
            </div>
            <h2>Детальная информация об организации, проводившей ТО</h2>

            <table class="details-table">
                <tr class="details-row">
                    <th class="label">Название:</th>
                    <td class="value">{{ maintenance_organization.name }}</td>
                </tr>
                <tr class="details-row">
                    <th class="label">Описание:</th>
                    <td class="value">{{ maintenance_organization.description }}</td>
                </tr>
            </table>

            {% if user.is_authenticated %}
                {% if 'Manager' in user.groups.all|join:", " or user.is_superuser %}
                    <div class="details-button">
                        <a href="{% url 'maintenanceorganization-update' maintenance_organization.pk %}" class="btn-details">Редактировать</a>
                        <a href="{% url 'maintenanceorganization-delete' maintenance_organization.pk %}" class="btn-details">Удалить</a>
                    </div>
                    {% endif %}
            {% endif %}
        </div>
    </div>
{% endblock %}